
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
   }
   
   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 3px;
    width: 900px;
    height: 30px;
   }
   .header-details{
    display: flex;
   }
   

.wishlist-label {
    margin-left: 20px;
   }
   .wishlist-button{
    margin-left: 20px;

   }
   
   
   .stock-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   
   .stock-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 900px;
    height: 40px;
   }
   
   .stock-item-price-container {
    display: flex;
    align-items: center;
   }
   .material-symbols-outlined {
    font-size: 20px; 
    
    color: #1871c2; 
    cursor: pointer;
    margin-right: 18px;
   }
   #material-symbols-outlined-x{
      font-size: 20px; 
    color: rgb(165, 18, 16);
    cursor: pointer;
    margin-right: 18px;
   }
   
   .stock-price-spacing {
    margin-right: 45px;
      
   }
   .c{
    margin-right: 15px;
   }
   
  
   @media (max-width: 768px) {
    .container {
       width: 90%; 
    }
   
    .header {
       width: 90%; /* Adjust header width for smaller screens */
    }
   
    .stock-item-container {
       flex-direction: column; /* Stack items vertically on smaller screens */
    }
   
    .stock-item {
       width: 100%; /* Full width for smaller screens */
    }
   }
   
   
   