
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: rgb(233, 140, 155);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: inherit;
    margin-top: 2px;
    font-size: 220%;
}

.Header-first {
    margin-left: 2%;
}

.Nav-bar {
    display: flex;
}

.Nav-items {
    margin: 0 10px;
}

#menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(233, 140, 155);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.Main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    background-color: inherit;
}

.Main-first {
    flex: 1;
    text-align: center;
    height: 200px;
    width: 50%;
}

.Main-Second {
    flex: 1;
    text-align: center;
    margin-top: 8%;
}

.box1 {
    padding: 10px;
    background-color: rgb(190, 85, 105);
    color: rgb(253, 253, 253);
    cursor: pointer;
    width: 30%;
    margin-left: 31%;
    margin-top: 5%;
}

.heading-one {
    font-size: 420%;
    text-align: left;
    margin-left: 30%;
}

.heading-two {
    margin-top: 3%;
    font-size: 120%;
    margin-left: 30%;
    text-align: left;
}

h1, h3 {
    margin: 0;
}

/* Tablet View (from 768px to 576px) */
@media (max-width: 768px) {
    .Nav-bar {
        display: flex;
    }

    #menu-icon {
        display: block;
    }

    .dropdown {
        display: none;
    }
}

/* Mobile View (<= 576px) */
@media (max-width: 576px) {
    .Nav-bar {
        display: none;
    }
    .Nav-items {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .dropdown {
        display: none; 
    }

    .Header {
        flex-direction: column;
        align-items: flex-start;
    }


    #menu-icon:hover + .dropdown {
        display: flex; 
    }

    .dropdown a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}





